@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

<div class="container">
    <h1 class="mt-5 mb-4">The Online Bookstore: Hilton's Favorite Books</h1>

    <div class="row">
        @foreach (Book b in Model.Books)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@b.Title</h5>
                        <p class="card-text">Author: @b.Author</p>
                        <p class="card-text">Publisher: @b.Publisher</p>
                        <p class="card-text">ISBN: @b.ISBN</p>
                        <p class="card-text">Classification: @b.Classification</p>
                        <p class="card-text">Category: @b.Category</p>
                        <p class="card-text">Number of Pages: @b.PageCount</p>
                        <p class="card-text">Price: $@b.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                @for (int i = 1; i <= Model.PaginationInfo.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PaginationInfo.CurrentPage ? "active" : "")">
                        <a class="page-link" href="#" onclick="location.href='@Url.Action("Index", new { pageNum = i })'">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
